<html en="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title><%=title%></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <header>
      <div class="container-fluid jumbotron" style="text-align: center;">
        <h1> <%=title%></h1>
        <h2>404 NOT FOUND</h2>
</div>
</header>
</body>
</html>


