*{
    box-sizing: border-box;
}
body{
    width:100%;
    margin:0;
    background-color: #cec3c34f;
}
.container-login{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px;
    flex-direction: column;
    align-items : center;
    margin-top: 20px;

}
h3 {
    margin-bottom: 35px
}
.set{
    width: 320px;
    margin: auto;
    padding: 10px 10px;
    background-color:#ffffff;
    text-align: center;
    border: 1px solid cornsilk 
}
.warning{
    color: red;
}

